<h1>Creando una nueva Pregunta</h1>

<form method="POST" action="{% url 'polls:create_question_post' %}">
  {% csrf_token %}
  <label for="">Here</label>
  <input type="text" name="question_text" id="" placeholder="Titulo de nueva pregunta">
  <input type="submit" value="Enviar">
</form>
