{% include 'general/header.html' with title='Las Preguntas' only %}
{% if questions %}
<ul>
  {% for question in questions %}
  <li><a href="{% url 'polls:single_question' question.id %}">{{question.question_text}}</a></li>
  {% endfor %}
</ul>
{% endif %}
{% include 'general/footer.html' %}